@import 'variables';

.action-bar{
  width: 100%;
  display: grid;
  grid-template-areas:
    "left-side active-spells right-side"
    "left-side control-center right-side";
  grid-template-rows: 1fr 247px*$multiplier;
  grid-template-columns: 1fr 1278px*$multiplier 1fr;
  margin: 0 auto;
  position: relative;
  left: -16px*$multiplier;

  .active-spells {
    grid-area: active-spells;
  }
  .control-center{
    grid-area: control-center;
    background-image: url("/img/arction-bar__bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    display: grid;
    grid-template-areas:
    "empty-l left center right empty-r";
    grid-template-rows: 1fr;
    grid-template-columns:
            85px*$multiplier
            141px*$multiplier
            1fr
            164px*$multiplier
            62px*$multiplier;
  }
}

.active-spells{
  ul{
    display: flex;
    justify-content: center;
    position: relative;
    top: 14px*$multiplier;
    left: 12px*$multiplier;
  }
  li a{
    display: block;
    width: 60px*$multiplier;
    height: 60px*$multiplier;
    line-height: 60px*$multiplier;
    margin: 0 5.5px*$multiplier;
    border-radius: 100%;
    background-color: #262523;
    color: #fff;
    text-align: center;
  }
}

.control-center{
  .side-stats__left{
    grid-area: left;
    text-align: right;
  }
  .side-stats__right{
    grid-area: right;
    text-align: left;
  }
  .side-stats{
    ul{
      margin-top: 30px*$multiplier;
    }
    li{
      display: flex;

      & + li{
        margin-top: 6px*$multiplier;
      }
    }
    .icon{
      font-size: .6rem;
      line-height: 1.5em;
      color: #1b6e9a;
      text-align: center;
      margin: 0 3px*$multiplier;

      i{
        display: block;
        width: 30px*$multiplier;
        height: 30px*$multiplier;
        margin-top: 3px*$multiplier;
      }
    }
    .main{
      font-size: 1.4rem;
      line-height: 1em;
      color: #fff;
    }
    .plus{
      font-size: 1.1rem;
      line-height: 1.2em;
      color: #00a02c;
    }
  }
  .side-stats__left li{
    flex-direction: row-reverse;
  }

  .center-stats{
    grid-area: center;

    display: grid;
    grid-template-areas:
    "mhr exp"
    "mhr shr"
    "acl acl";
    grid-template-rows: 23px*$multiplier 1fr 25px*$multiplier;
    grid-template-columns: 115px*$multiplier 1fr;
    margin: 28px*$multiplier 10px*$multiplier 6px*$multiplier 20px*$multiplier;
  }

  .main-hero{
    grid-area: mhr;
    padding: 0 7px*$multiplier 7px*$multiplier 0;
  }
  .exp-bar{
    grid-area: exp;
  }
  .second-heroes{
    grid-area: shr;
    display: flex;
    padding: 7px*$multiplier 0 7px*$multiplier;
    counter-reset: heroes;
  }
  .accelerators{
    grid-area: acl;
  }
}

.accelerators{
  ul{
    display: flex;
    height: 100%;
    overflow: hidden;
    border-radius: 12px*$multiplier;
  }
  li{
    width: 100%;
    height: 100%;
    display: block;
    margin-right: 7px*$multiplier;

    &:last-child{
      margin: 0;
    }
  }
  a{
    background: #3f4558;
    color: #000000;
    display: block;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 1.1rem;
    line-height: 1.1em;

    transition: all .3s;

    &.active,
    &:hover{
      color: #ffbd00;
      background: #000;
    }

    small{
      font-size: .9rem;
    }
  }
}