@import 'variables';

.action-bar{
  width: 100%;
  display: grid;
  grid-template-areas:
    "left-side active-spells right-side"
    "left-side control-center right-side";
  grid-template-rows: 1fr 247px*$m_mobile;
  grid-template-columns: 1fr 1278px*$m_mobile 1fr;
  margin: 0 auto;
  position: relative;
  left: -16px*$m_mobile;

  .active-spells {
    grid-area: active-spells;
  }
  .control-center{
    grid-area: control-center;
    background-image: url("../img/action-bar__bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    display: grid;
    grid-template-areas:
    "empty-l left center right empty-r";
    grid-template-rows: 1fr;
    grid-template-columns:
            85px*$m_mobile
            141px*$m_mobile
            1fr
            164px*$m_mobile
            62px*$m_mobile;
  }
}

.control-center{

  .center-stats{
    grid-area: center;

    display: grid;
    grid-template-areas:
    "mhr hpb"
    "mhr shr"
    "acl acl";
    grid-template-rows: 23px*$m_mobile 1fr 25px*$m_mobile;
    grid-template-columns: 115px*$m_mobile 1fr;
    margin: 28px*$m_mobile 10px*$m_mobile 6px*$m_mobile 20px*$m_mobile;
  }

  .main-hero{
    grid-area: mhr;
    padding: 0 7px*$m_mobile 7px*$m_mobile 0;
  }
  .hp-bar{
    grid-area: hpb;
  }
  .second-heroes{
    grid-area: shr;
    display: flex;
    padding: 7px*$m_mobile 0 7px*$m_mobile;
    counter-reset: heroes;
  }
  .accelerators{
    grid-area: acl;
  }
}