@import 'variables';
@import 'fonts';

html,
body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'RBNo3.1',HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif;
  overflow: hidden;
  font-weight: 400;
  font-size: 18px*$multiplier;
}

ul, ol{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

@import "base";
@import "action-bar";
@import "side-stats";
@import "mana-bar";
@import "hp-bar";
@import "character";
@import "spell";
@import "bottom-buttons";