@import 'variables';

.side-stats__left{
  grid-area: left;
  text-align: right;
}
.side-stats__right{
  grid-area: right;
  text-align: left;
}
.side-stats{
  ul{
    margin-top: 30px*$m_mobile;
  }
  li{
    display: flex;

    & + li{
      margin-top: 6px*$m_mobile;
    }
  }
  .icon{
    font-size: .6rem;
    line-height: 1.5em;
    color: #1b6e9a;
    text-align: center;
    margin: 0 3px*$m_mobile;

    i{
      display: block;
      width: 30px*$m_mobile;
      height: 30px*$m_mobile;
      margin-top: 3px*$m_mobile;
      background-size: 26px*$m_mobile;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      left: 2px*$m_mobile;
    }
  }
  .main{
    font-size: 1.4rem;
    line-height: 1em;
    color: #fff;
  }
  .plus{
    font-size: 1.1rem;
    line-height: 1.2em;
    color: #00a02c;
  }
}
.side-stats__left li{
  flex-direction: row-reverse;
}