<div class="action-bar">
  <div class="active-spells">
    <ul>
      <li><a href=""></a></li>
      <li><a href="">2:13</a></li>
      <li><a href="">55</a></li>
    </ul>
  </div>
  <div class="control-center">
    <div class="side-stats side-stats__left">
      <ul>
        @@loop('./side-stats.html', [
          {
            "type": "DPC",
            "icon": "./img/icon__dpc.png" ,
            "main": "53,25M",
            "plus": "+17M%"
          },
          {
            "type": "DPS",
            "icon": "./img/icon__dps.png" ,
            "main": "1,853B",
            "plus": "+10,7K%"
          },
        ])
      </ul>
    </div>
    <div class="center-stats">
      <div class="main-hero">
          @@include('./character.html', {
            'class': 'main',
            'img': './img/main-character.png',
            'lvl': '999',
            'multiplier': '10',
            'exp': '655,555'
          })
      </div>
      <div class="exp-bar"></div>
      <div class="accelerators">
        <ul>
          <li><a href="#">X1</a></li>
          <li><a class="active" href="#"><small>BUY</small> X10</a></li>
          <li><a href="#">X50</a></li>
          <li><a href="#">X100</a></li>
          <li><a href="#">X250</a></li>
          <li><a href="#">X500</a></li>
          <li><a href="#"><small>BUY</small> ALL</a></li>
        </ul>
      </div>
      <div class="second-heroes">
        @@include('./character.html', {
          'class': '',
          'img': './img/character__1.png',
          'ability': './img/ability__2.png',
          'lvl': '553',
          'multiplier': '10',
          'exp': '265,487',
        })
        @@include('./character.html', {
          'class': '',
          'img': './img/character__2.png',
          'ability': './img/ability__3.png',
          'lvl': '135',
          'multiplier': '10',
          'exp': '105,381',
        })
        @@include('./character.html', {
          'class': '',
          'img': './img/character__3.png',
          'ability': './img/ability__4.png',
          'lvl': '25',
          'multiplier': '10',
          'exp': '1,257',
        })
        @@include('./character.html', {
          'class': 'active',
          'img': './img/character__4.png',
          'ability': './img/ability__1.png',
          'lvl': '998',
          'multiplier': '10',
          'exp': '655,555',
        })
        @@include('./character.html', {
          'class': '',
          'img': './img/character__5.png',
          'ability': './img/ability__5.png',
          'lvl': '523',
          'multiplier': '10',
          'exp': '117,063',
        })
        @@include('./character.html', {
        'class': 'disabled',
        'img': '',
        'ability': '',
        'lvl': '',
        'multiplier': '',
        'exp': '',
        })
      </div>
    </div>
    <div class="side-stats side-stats__right">
      <ul>
        @@loop('./side-stats.html', [
          {
            "type": "AP",
            "icon": "./img/icon__ap.png" ,
            "main": "15,32K",
            "plus": "+52M%"
          }
        ])
        @@loop('./mana-bar.html', [
          {
            "icon": "./img/icon__mana.png" ,
            "percent": "40",
            "val": "569,658",
            "from": "600,050"
          }
        ])
      </ul>
    </div>
  </div>
</div>