<div class="action-bar">
  <div class="active-spells">
    <ul>
      <li><a href=""></a></li>
      <li><a href="">2:13</a></li>
      <li><a href="">55</a></li>
    </ul>
  </div>
  <div class="control-center">
    <div class="side-stats side-stats__left">
      <ul>
        <li>
          <div class="icon">
            <i>icon</i>
            <div>DPC</div>
          </div>
          <div class="value">
            <div class="main">53,25M</div>
            <div class="plus">+17M%</div>
          </div>
        </li>
        <li>
          <div class="icon">
            <i>icon</i>
            <div>DPS</div>
          </div>
          <div class="value">
            <div class="main">1,853B</div>
            <div class="plus">+10,7K%</div>
          </div>
        </li>
      </ul>
    </div>
    <div class="center-stats">
      <div class="main-hero">
          @@include('./character.html', {
            'class': 'main',
            'img': './img/main-character.png',
            'lvl': '999',
            'multiplier': '10',
            'exp': '655,555'
          })
      </div>
      <div class="exp-bar"></div>
      <div class="accelerators">
        <ul>
          <li><a href="#">X1</a></li>
          <li><a class="active" href="#"><small>BUY</small> X10</a></li>
          <li><a href="#">X50</a></li>
          <li><a href="#">X100</a></li>
          <li><a href="#">X250</a></li>
          <li><a href="#">X500</a></li>
          <li><a href="#"><small>BUY</small> ALL</a></li>
        </ul>
      </div>
      <div class="second-heroes">
        @@include('./character.html', {
          'class': '',
          'img': './img/character__1.png',
          'ability': './img/ability__2.png',
          'lvl': '553',
          'multiplier': '10',
          'exp': '265,487',
        })
        @@include('./character.html', {
          'class': '',
          'img': './img/character__2.png',
          'ability': './img/ability__3.png',
          'lvl': '135',
          'multiplier': '10',
          'exp': '105,381',
        })
        @@include('./character.html', {
          'class': '',
          'img': './img/character__3.png',
          'ability': './img/ability__4.png',
          'lvl': '25',
          'multiplier': '10',
          'exp': '1,257',
        })
        @@include('./character.html', {
          'class': '',
          'img': './img/character__4.png',
          'ability': './img/ability__1.png',
          'lvl': '998',
          'multiplier': '10',
          'exp': '655,555',
        })
        @@include('./character.html', {
          'class': '',
          'img': './img/character__5.png',
          'ability': './img/ability__5.png',
          'lvl': '523',
          'multiplier': '10',
          'exp': '117,063',
        })
        @@include('./character.html', {
        'class': 'disabled',
        'img': '',
        'ability': '',
        'lvl': '',
        'multiplier': '',
        'exp': '',
        })
      </div>
    </div>
    <div class="side-stats side-stats__right">
      <ul>
        <li>
          <div class="icon">
            <i>icon</i>
            <div>AP</div>
          </div>
          <div class="value">
            <div class="main">15,32K</div>
            <div class="plus">+52M%</div>
          </div>
        </li>
        <li>

        </li>
      </ul>
    </div>
  </div>
</div>