<div class="bottom-buttons">
  <div class="left-side">
    <div class="button inventory">
      <div class="label">Inventory</div>
      <div class="icon" style="background-image: url(./img/icon__inventory.png)"></div>
    </div>
    <div class="button elixirs">
      <div class="label">Elixirs</div>
      <div class="icon" style="background-image: url(./img/icon__elixirs.png)"></div>
    </div>
  </div>
  <div class="right-side">
    <div class="button shop">
      <div class="label" data-text="SHOP">Shop</div>
      <div class="icon" style="background-image: url(./img/icon__shop.png)"></div>
    </div>
  </div>
</div>