<div class="character @@class">
  @@if (img !== '') {
    <div class="ability">
      <div class="img" style="background-image: url(@@ability)"></div>
    </div>
    <div class="wrapper">
      <div class="ava" style="background-image: url(@@img)"></div>
      <div class="stats">
        <div class="lvl">@@lvl</div>
        <div class="mltp">x@@multiplier</div>
      </div>
      <div class="exp">
        <div>
          <div class="value">@@exp</div>
          <div class="label">Lvl up</div>
        </div>
        <div class="icon">
        </div>
      </div>
    </div>
  }
</div>